* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article.node-blog {
  margin-top: 20px;
}

.page-node-add-blog .content-wrapper .form-item {
  max-width: 100%;
}
.page-node-add-blog .form-item-field-ding-blog-list-image-und-0 label,
.page-node-add-blog #edit-submit,
.page-node-add-blog #edit-preview {
  display: inline-block;
  margin-right: 30px;
}
.page-node-add-blog .filter-guidelines,
.page-node-add-blog .filter-help {
  display: none;
}
.page-node-add-blog div.form-media {
  display: inline-block;
  vertical-align: middle;
  margin-top: -20px;
}
.page-node-add-blog fieldset .fieldset-wrapper {
  width: 100%;
}
.page-node-add-blog .field-type-taxonomy-term-reference {
  width: 25%;
}

.view.grid-medium.view-display-id-user_blog_list_categories h3 {
  float: left;
  width: 100%;
}
.view.grid-medium.view-display-id-user_blog_list_categories .views-row:nth-child(3n+1) {
  clear: none;
  margin-left: 2.4911%;
  margin-right: 0;
}

.field-name-field-ding-news-blogs-headline,
.field-name-field-ding-event-blogs-headline {
  clear: left;
}

.field-name-field-ding-news-blogs,
.field-name-field-ding-event-blogs {
  float: left;
}

.node-blog {
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 30px, #f1f2f2 100%);
  background-image: linear-gradient(to top,rgba(255, 255, 255, 0) 30px, #f1f2f2 100%);
  margin: 40px 0 30px;
}
.node-blog h1 {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 0;
  color: #262626;
}
@media screen and (max-width: 600px) {
  .node-blog h1 {
    font-size: 18px;
    line-height: 24px;
  }
}
.node-blog h2 {
  font-family: "FaktPro-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 5px;
}
.node-blog .meta {
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 30px 0;
}
@media screen and (max-width: 600px) {
  .node-blog .meta {
    margin: 15px 0 30px;
  }
}
.node-blog .meta .author {
  margin-bottom: 5px;
}
.node-blog .ding-blog-inner {
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.node-blog .ding-blog-inner .ding-blog-left {
  float: left;
  display: block;
  margin-right: 2.4911%;
  width: 40.21352%;
  min-height: 1px;
}
.node-blog .ding-blog-inner .ding-blog-left:last-child {
  margin-right: 0;
}
@media screen and (max-width: 950px) {
  .node-blog .ding-blog-inner .ding-blog-left {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 48.75445%;
  }
  .node-blog .ding-blog-inner .ding-blog-left:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .node-blog .ding-blog-inner .ding-blog-left {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 100%;
    margin-bottom: 20px;
  }
  .node-blog .ding-blog-inner .ding-blog-left:last-child {
    margin-right: 0;
  }
}
.node-blog .ding-blog-inner .ding-blog-right {
  float: left;
  display: block;
  margin-right: 2.4911%;
  width: 40.21352%;
}
.node-blog .ding-blog-inner .ding-blog-right:last-child {
  margin-right: 0;
}
@media screen and (max-width: 950px) {
  .node-blog .ding-blog-inner .ding-blog-right {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 48.75445%;
    margin-right: 0;
  }
  .node-blog .ding-blog-inner .ding-blog-right:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .node-blog .ding-blog-inner .ding-blog-right {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 100%;
    margin-right: 0;
  }
  .node-blog .ding-blog-inner .ding-blog-right:last-child {
    margin-right: 0;
  }
}
.node-blog.node-teaser .summary {
  position: absolute;
  top: 0;
  color: #fff;
  padding: 15px;
  visibility: hidden;
}
.node-blog.node-teaser.is-hovered .summary {
  visibility: visible;
}

.view-display-id-related_author_blogs .views-row {
  float: left;
}

.footer {
  float: left;
  width: 100%;
}

.pane-ding-blog-related-author-blogs {
  clear: both;
}
.pane-ding-blog-related-author-blogs h2.pane-title a {
  color: #262627;
}

.field-name-field-ding-blog-materials {
  width: 100%;
  float: left;
}
.node-blog .ding-blog-inner > .field-name-field-ding-blog-materials {
  padding-top: 20px;
}
.node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-label {
  font-family: "FaktPro-Light", sans-serif;
  font-size: 40px;
  line-height: 44px;
  color: #262627;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-label {
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (max-width: 600px) {
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-label {
    margin-bottom: 10px;
  }
}
.node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item {
  float: left;
  display: block;
  margin-right: 2.4911%;
  width: 23.13167%;
  margin-bottom: 2.4911%;
}
.node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:last-child {
  margin-right: 0;
}
.node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:nth-child(4n) {
  margin-right: 0;
}
.node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:nth-child(4n+1) {
  clear: left;
}
@media screen and (max-width: 950px) {
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 31.6726%;
  }
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:nth-child(4n) {
    margin-right: 2.4911%;
  }
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:nth-child(4n+1) {
    clear: none;
  }
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:last-child {
    margin-right: 0;
  }
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:nth-child(3n) {
    margin-right: 0;
  }
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (max-width: 600px) {
  .node-blog .ding-blog-inner > .field-name-field-ding-blog-materials > .field-items > .field-item {
    width: 100%;
    margin-right: 0;
  }
}
.group-right .field-name-field-ding-blog-materials {
  float: left;
  display: block;
  margin-right: 6.19469%;
  width: 142.47788%;
}
.group-right .field-name-field-ding-blog-materials:last-child {
  margin-right: 0;
}
@media screen and (max-width: 950px) {
  .group-right .field-name-field-ding-blog-materials {
    width: 100%;
  }
}
.group-right .field-name-field-ding-blog-materials > .field-items > .field-item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.ding_nodelist-node_blocks,
.panel-pane.pane-ding-blog-ding-blog-list-user,
.pane-ding-blog-related-author-blogs,
.pane-ding-blog-related-category-blogs,
.view-ding-blog {
  width: 100%;
  float: left;
}
.ding_nodelist-node_blocks .ding_nodelist-items,
.ding_nodelist-node_blocks .view-content,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content,
.pane-ding-blog-related-author-blogs .ding_nodelist-items,
.pane-ding-blog-related-author-blogs .view-content,
.pane-ding-blog-related-category-blogs .ding_nodelist-items,
.pane-ding-blog-related-category-blogs .view-content,
.view-ding-blog .ding_nodelist-items,
.view-ding-blog .view-content {
  display: inline-block;
  width: 100%;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item,
.ding_nodelist-node_blocks .view-content .item,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item,
.pane-ding-blog-related-author-blogs .view-content .item,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item,
.pane-ding-blog-related-category-blogs .view-content .item,
.view-ding-blog .ding_nodelist-items .item,
.view-ding-blog .view-content .item {
  float: left;
  display: block;
  margin-right: 2.4911%;
  width: 29.02491%;
  margin: 2%;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item:last-child,
.ding_nodelist-node_blocks .view-content .item:last-child,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:last-child,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:last-child,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item:last-child,
.pane-ding-blog-related-author-blogs .view-content .item:last-child,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item:last-child,
.pane-ding-blog-related-category-blogs .view-content .item:last-child,
.view-ding-blog .ding_nodelist-items .item:last-child,
.view-ding-blog .view-content .item:last-child {
  margin-right: 0;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item,
.ding_nodelist-node_blocks .ding_nodelist-items .node,
.ding_nodelist-node_blocks .view-content .item,
.ding_nodelist-node_blocks .view-content .node,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node,
.pane-ding-blog-related-author-blogs .view-content .item,
.pane-ding-blog-related-author-blogs .view-content .node,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node,
.pane-ding-blog-related-category-blogs .view-content .item,
.pane-ding-blog-related-category-blogs .view-content .node,
.view-ding-blog .ding_nodelist-items .item,
.view-ding-blog .ding_nodelist-items .node,
.view-ding-blog .view-content .item,
.view-ding-blog .view-content .node {
  position: relative;
}
@media only screen and (max-width: 1080px) {
  .ding_nodelist-node_blocks .ding_nodelist-items .item,
  .ding_nodelist-node_blocks .ding_nodelist-items .node,
  .ding_nodelist-node_blocks .view-content .item,
  .ding_nodelist-node_blocks .view-content .node,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node,
  .pane-ding-blog-related-author-blogs .view-content .item,
  .pane-ding-blog-related-author-blogs .view-content .node,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node,
  .pane-ding-blog-related-category-blogs .view-content .item,
  .pane-ding-blog-related-category-blogs .view-content .node,
  .view-ding-blog .ding_nodelist-items .item,
  .view-ding-blog .ding_nodelist-items .node,
  .view-ding-blog .view-content .item,
  .view-ding-blog .view-content .node {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 44.48399%;
  }
  .ding_nodelist-node_blocks .ding_nodelist-items .item:last-child,
  .ding_nodelist-node_blocks .ding_nodelist-items .node:last-child,
  .ding_nodelist-node_blocks .view-content .item:last-child,
  .ding_nodelist-node_blocks .view-content .node:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node:last-child,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item:last-child,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node:last-child,
  .pane-ding-blog-related-author-blogs .view-content .item:last-child,
  .pane-ding-blog-related-author-blogs .view-content .node:last-child,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item:last-child,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node:last-child,
  .pane-ding-blog-related-category-blogs .view-content .item:last-child,
  .pane-ding-blog-related-category-blogs .view-content .node:last-child,
  .view-ding-blog .ding_nodelist-items .item:last-child,
  .view-ding-blog .ding_nodelist-items .node:last-child,
  .view-ding-blog .view-content .item:last-child,
  .view-ding-blog .view-content .node:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 950px) {
  .ding_nodelist-node_blocks .ding_nodelist-items .item,
  .ding_nodelist-node_blocks .ding_nodelist-items .node,
  .ding_nodelist-node_blocks .view-content .item,
  .ding_nodelist-node_blocks .view-content .node,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node,
  .pane-ding-blog-related-author-blogs .view-content .item,
  .pane-ding-blog-related-author-blogs .view-content .node,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node,
  .pane-ding-blog-related-category-blogs .view-content .item,
  .pane-ding-blog-related-category-blogs .view-content .node,
  .view-ding-blog .ding_nodelist-items .item,
  .view-ding-blog .ding_nodelist-items .node,
  .view-ding-blog .view-content .item,
  .view-ding-blog .view-content .node {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 44.48399%;
  }
  .ding_nodelist-node_blocks .ding_nodelist-items .item:last-child,
  .ding_nodelist-node_blocks .ding_nodelist-items .node:last-child,
  .ding_nodelist-node_blocks .view-content .item:last-child,
  .ding_nodelist-node_blocks .view-content .node:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node:last-child,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item:last-child,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node:last-child,
  .pane-ding-blog-related-author-blogs .view-content .item:last-child,
  .pane-ding-blog-related-author-blogs .view-content .node:last-child,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item:last-child,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node:last-child,
  .pane-ding-blog-related-category-blogs .view-content .item:last-child,
  .pane-ding-blog-related-category-blogs .view-content .node:last-child,
  .view-ding-blog .ding_nodelist-items .item:last-child,
  .view-ding-blog .ding_nodelist-items .node:last-child,
  .view-ding-blog .view-content .item:last-child,
  .view-ding-blog .view-content .node:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .ding_nodelist-node_blocks .ding_nodelist-items .item,
  .ding_nodelist-node_blocks .ding_nodelist-items .node,
  .ding_nodelist-node_blocks .view-content .item,
  .ding_nodelist-node_blocks .view-content .node,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node,
  .pane-ding-blog-related-author-blogs .view-content .item,
  .pane-ding-blog-related-author-blogs .view-content .node,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node,
  .pane-ding-blog-related-category-blogs .view-content .item,
  .pane-ding-blog-related-category-blogs .view-content .node,
  .view-ding-blog .ding_nodelist-items .item,
  .view-ding-blog .ding_nodelist-items .node,
  .view-ding-blog .view-content .item,
  .view-ding-blog .view-content .node {
    float: left;
    display: block;
    margin-right: 10.76923%;
    width: 100%;
    margin: 0;
    float: none;
    padding-bottom: 15px;
  }
  .ding_nodelist-node_blocks .ding_nodelist-items .item:last-child,
  .ding_nodelist-node_blocks .ding_nodelist-items .node:last-child,
  .ding_nodelist-node_blocks .view-content .item:last-child,
  .ding_nodelist-node_blocks .view-content .node:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:last-child,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node:last-child,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item:last-child,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node:last-child,
  .pane-ding-blog-related-author-blogs .view-content .item:last-child,
  .pane-ding-blog-related-author-blogs .view-content .node:last-child,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item:last-child,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node:last-child,
  .pane-ding-blog-related-category-blogs .view-content .item:last-child,
  .pane-ding-blog-related-category-blogs .view-content .node:last-child,
  .view-ding-blog .ding_nodelist-items .item:last-child,
  .view-ding-blog .ding_nodelist-items .node:last-child,
  .view-ding-blog .view-content .item:last-child,
  .view-ding-blog .view-content .node:last-child {
    margin-right: 0;
  }
}
.ding_nodelist-node_blocks .ding_nodelist-items .item .inner,
.ding_nodelist-node_blocks .ding_nodelist-items .node .inner,
.ding_nodelist-node_blocks .view-content .item .inner,
.ding_nodelist-node_blocks .view-content .node .inner,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item .inner,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node .inner,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item .inner,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node .inner,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item .inner,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node .inner,
.pane-ding-blog-related-author-blogs .view-content .item .inner,
.pane-ding-blog-related-author-blogs .view-content .node .inner,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item .inner,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node .inner,
.pane-ding-blog-related-category-blogs .view-content .item .inner,
.pane-ding-blog-related-category-blogs .view-content .node .inner,
.view-ding-blog .ding_nodelist-items .item .inner,
.view-ding-blog .ding_nodelist-items .node .inner,
.view-ding-blog .view-content .item .inner,
.view-ding-blog .view-content .node .inner {
  float: left;
  width: 100%;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item.node-blog .field-name-field-blog-body p,
.ding_nodelist-node_blocks .ding_nodelist-items .node.node-blog .field-name-field-blog-body p,
.ding_nodelist-node_blocks .view-content .item.node-blog .field-name-field-blog-body p,
.ding_nodelist-node_blocks .view-content .node.node-blog .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item.node-blog .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node.node-blog .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item.node-blog .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .view-content .item.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .view-content .node.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .view-content .item.node-blog .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .view-content .node.node-blog .field-name-field-blog-body p,
.view-ding-blog .ding_nodelist-items .item.node-blog .field-name-field-blog-body p,
.view-ding-blog .ding_nodelist-items .node.node-blog .field-name-field-blog-body p,
.view-ding-blog .view-content .item.node-blog .field-name-field-blog-body p,
.view-ding-blog .view-content .node.node-blog .field-name-field-blog-body p {
  margin-top: 25px;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item .field-name-field-blog-body p,
.ding_nodelist-node_blocks .ding_nodelist-items .node .field-name-field-blog-body p,
.ding_nodelist-node_blocks .view-content .item .field-name-field-blog-body p,
.ding_nodelist-node_blocks .view-content .node .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .view-content .item .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .view-content .node .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .view-content .item .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .view-content .node .field-name-field-blog-body p,
.view-ding-blog .ding_nodelist-items .item .field-name-field-blog-body p,
.view-ding-blog .ding_nodelist-items .node .field-name-field-blog-body p,
.view-ding-blog .view-content .item .field-name-field-blog-body p,
.view-ding-blog .view-content .node .field-name-field-blog-body p {
  -webkit-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  opacity: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 15px;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-node_blocks .ding_nodelist-items .item .field-name-field-blog-body p,
  .ding_nodelist-node_blocks .ding_nodelist-items .node .field-name-field-blog-body p,
  .ding_nodelist-node_blocks .view-content .item .field-name-field-blog-body p,
  .ding_nodelist-node_blocks .view-content .node .field-name-field-blog-body p,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item .field-name-field-blog-body p,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node .field-name-field-blog-body p,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item .field-name-field-blog-body p,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node .field-name-field-blog-body p,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .item .field-name-field-blog-body p,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .node .field-name-field-blog-body p,
  .pane-ding-blog-related-author-blogs .view-content .item .field-name-field-blog-body p,
  .pane-ding-blog-related-author-blogs .view-content .node .field-name-field-blog-body p,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .item .field-name-field-blog-body p,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .node .field-name-field-blog-body p,
  .pane-ding-blog-related-category-blogs .view-content .item .field-name-field-blog-body p,
  .pane-ding-blog-related-category-blogs .view-content .node .field-name-field-blog-body p,
  .view-ding-blog .ding_nodelist-items .item .field-name-field-blog-body p,
  .view-ding-blog .ding_nodelist-items .node .field-name-field-blog-body p,
  .view-ding-blog .view-content .item .field-name-field-blog-body p,
  .view-ding-blog .view-content .node .field-name-field-blog-body p {
    display: none;
  }
}
.ding_nodelist-node_blocks .ding_nodelist-items .item:hover .ding-blog-image::after,
.ding_nodelist-node_blocks .ding_nodelist-items .item:hover .ding-blog-list-image::after,
.ding_nodelist-node_blocks .ding_nodelist-items .node:hover .ding-blog-image::after,
.ding_nodelist-node_blocks .ding_nodelist-items .node:hover .ding-blog-list-image::after,
.ding_nodelist-node_blocks .view-content .item:hover .ding-blog-image::after,
.ding_nodelist-node_blocks .view-content .item:hover .ding-blog-list-image::after,
.ding_nodelist-node_blocks .view-content .node:hover .ding-blog-image::after,
.ding_nodelist-node_blocks .view-content .node:hover .ding-blog-list-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:hover .ding-blog-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:hover .ding-blog-list-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node:hover .ding-blog-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node:hover .ding-blog-list-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:hover .ding-blog-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:hover .ding-blog-list-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node:hover .ding-blog-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node:hover .ding-blog-list-image::after,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item:hover .ding-blog-image::after,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item:hover .ding-blog-list-image::after,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node:hover .ding-blog-image::after,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node:hover .ding-blog-list-image::after,
.pane-ding-blog-related-author-blogs .view-content .item:hover .ding-blog-image::after,
.pane-ding-blog-related-author-blogs .view-content .item:hover .ding-blog-list-image::after,
.pane-ding-blog-related-author-blogs .view-content .node:hover .ding-blog-image::after,
.pane-ding-blog-related-author-blogs .view-content .node:hover .ding-blog-list-image::after,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item:hover .ding-blog-image::after,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item:hover .ding-blog-list-image::after,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node:hover .ding-blog-image::after,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node:hover .ding-blog-list-image::after,
.pane-ding-blog-related-category-blogs .view-content .item:hover .ding-blog-image::after,
.pane-ding-blog-related-category-blogs .view-content .item:hover .ding-blog-list-image::after,
.pane-ding-blog-related-category-blogs .view-content .node:hover .ding-blog-image::after,
.pane-ding-blog-related-category-blogs .view-content .node:hover .ding-blog-list-image::after,
.view-ding-blog .ding_nodelist-items .item:hover .ding-blog-image::after,
.view-ding-blog .ding_nodelist-items .item:hover .ding-blog-list-image::after,
.view-ding-blog .ding_nodelist-items .node:hover .ding-blog-image::after,
.view-ding-blog .ding_nodelist-items .node:hover .ding-blog-list-image::after,
.view-ding-blog .view-content .item:hover .ding-blog-image::after,
.view-ding-blog .view-content .item:hover .ding-blog-list-image::after,
.view-ding-blog .view-content .node:hover .ding-blog-image::after,
.view-ding-blog .view-content .node:hover .ding-blog-list-image::after {
  background-color: rgba(0, 0, 0, 0.8);
}
.ding_nodelist-node_blocks .ding_nodelist-items .item:hover .field-name-field-blog-body p,
.ding_nodelist-node_blocks .ding_nodelist-items .node:hover .field-name-field-blog-body p,
.ding_nodelist-node_blocks .view-content .item:hover .field-name-field-blog-body p,
.ding_nodelist-node_blocks .view-content .node:hover .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item:hover .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node:hover .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item:hover .field-name-field-blog-body p,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node:hover .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item:hover .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node:hover .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .view-content .item:hover .field-name-field-blog-body p,
.pane-ding-blog-related-author-blogs .view-content .node:hover .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item:hover .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node:hover .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .view-content .item:hover .field-name-field-blog-body p,
.pane-ding-blog-related-category-blogs .view-content .node:hover .field-name-field-blog-body p,
.view-ding-blog .ding_nodelist-items .item:hover .field-name-field-blog-body p,
.view-ding-blog .ding_nodelist-items .node:hover .field-name-field-blog-body p,
.view-ding-blog .view-content .item:hover .field-name-field-blog-body p,
.view-ding-blog .view-content .node:hover .field-name-field-blog-body p {
  opacity: 1;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 15px;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item .title,
.ding_nodelist-node_blocks .ding_nodelist-items .node .title,
.ding_nodelist-node_blocks .view-content .item .title,
.ding_nodelist-node_blocks .view-content .node .title,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item .title,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node .title,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item .title,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node .title,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item .title,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node .title,
.pane-ding-blog-related-author-blogs .view-content .item .title,
.pane-ding-blog-related-author-blogs .view-content .node .title,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item .title,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node .title,
.pane-ding-blog-related-category-blogs .view-content .item .title,
.pane-ding-blog-related-category-blogs .view-content .node .title,
.view-ding-blog .ding_nodelist-items .item .title,
.view-ding-blog .ding_nodelist-items .node .title,
.view-ding-blog .view-content .item .title,
.view-ding-blog .view-content .node .title {
  margin: 10px 0 5px;
  font-size: 120%;
}
.ding_nodelist-node_blocks .ding_nodelist-items .item .category-and-submitted,
.ding_nodelist-node_blocks .ding_nodelist-items .node .category-and-submitted,
.ding_nodelist-node_blocks .view-content .item .category-and-submitted,
.ding_nodelist-node_blocks .view-content .node .category-and-submitted,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .item .category-and-submitted,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .node .category-and-submitted,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .item .category-and-submitted,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .node .category-and-submitted,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .item .category-and-submitted,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .node .category-and-submitted,
.pane-ding-blog-related-author-blogs .view-content .item .category-and-submitted,
.pane-ding-blog-related-author-blogs .view-content .node .category-and-submitted,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .item .category-and-submitted,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .node .category-and-submitted,
.pane-ding-blog-related-category-blogs .view-content .item .category-and-submitted,
.pane-ding-blog-related-category-blogs .view-content .node .category-and-submitted,
.view-ding-blog .ding_nodelist-items .item .category-and-submitted,
.view-ding-blog .ding_nodelist-items .node .category-and-submitted,
.view-ding-blog .view-content .item .category-and-submitted,
.view-ding-blog .view-content .node .category-and-submitted {
  float: left;
  width: 100%;
  color: rgba(38, 38, 38, 0.54);
}
.ding_nodelist-node_blocks .ding_nodelist-items a,
.ding_nodelist-node_blocks .view-content a,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items a,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content a,
.pane-ding-blog-related-author-blogs .ding_nodelist-items a,
.pane-ding-blog-related-author-blogs .view-content a,
.pane-ding-blog-related-category-blogs .ding_nodelist-items a,
.pane-ding-blog-related-category-blogs .view-content a,
.view-ding-blog .ding_nodelist-items a,
.view-ding-blog .view-content a {
  display: block;
  color: #262627;
}
.ding_nodelist-node_blocks .ding_nodelist-items .ding-blog-image,
.ding_nodelist-node_blocks .ding_nodelist-items .ding-blog-list-image,
.ding_nodelist-node_blocks .view-content .ding-blog-image,
.ding_nodelist-node_blocks .view-content .ding-blog-list-image,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .ding-blog-image,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .ding-blog-list-image,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .ding-blog-image,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .ding-blog-list-image,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .ding-blog-image,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .ding-blog-list-image,
.pane-ding-blog-related-author-blogs .view-content .ding-blog-image,
.pane-ding-blog-related-author-blogs .view-content .ding-blog-list-image,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .ding-blog-image,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .ding-blog-list-image,
.pane-ding-blog-related-category-blogs .view-content .ding-blog-image,
.pane-ding-blog-related-category-blogs .view-content .ding-blog-list-image,
.view-ding-blog .ding_nodelist-items .ding-blog-image,
.view-ding-blog .ding_nodelist-items .ding-blog-list-image,
.view-ding-blog .view-content .ding-blog-image,
.view-ding-blog .view-content .ding-blog-list-image {
  display: block;
  position: relative;
  background-color: #e5e5e5;
  padding-top: 56.25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-size: cover;
}
.ding_nodelist-node_blocks .ding_nodelist-items .ding-blog-image::after,
.ding_nodelist-node_blocks .ding_nodelist-items .ding-blog-list-image::after,
.ding_nodelist-node_blocks .view-content .ding-blog-image::after,
.ding_nodelist-node_blocks .view-content .ding-blog-list-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .ding-blog-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .ding-blog-list-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .ding-blog-image::after,
.panel-pane.pane-ding-blog-ding-blog-list-user .view-content .ding-blog-list-image::after,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .ding-blog-image::after,
.pane-ding-blog-related-author-blogs .ding_nodelist-items .ding-blog-list-image::after,
.pane-ding-blog-related-author-blogs .view-content .ding-blog-image::after,
.pane-ding-blog-related-author-blogs .view-content .ding-blog-list-image::after,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .ding-blog-image::after,
.pane-ding-blog-related-category-blogs .ding_nodelist-items .ding-blog-list-image::after,
.pane-ding-blog-related-category-blogs .view-content .ding-blog-image::after,
.pane-ding-blog-related-category-blogs .view-content .ding-blog-list-image::after,
.view-ding-blog .ding_nodelist-items .ding-blog-image::after,
.view-ding-blog .ding_nodelist-items .ding-blog-list-image::after,
.view-ding-blog .view-content .ding-blog-image::after,
.view-ding-blog .view-content .ding-blog-list-image::after {
  -webkit-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-node_blocks .ding_nodelist-items .ding-blog-image,
  .ding_nodelist-node_blocks .ding_nodelist-items .ding-blog-list-image,
  .ding_nodelist-node_blocks .view-content .ding-blog-image,
  .ding_nodelist-node_blocks .view-content .ding-blog-list-image,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .ding-blog-image,
  .panel-pane.pane-ding-blog-ding-blog-list-user .ding_nodelist-items .ding-blog-list-image,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .ding-blog-image,
  .panel-pane.pane-ding-blog-ding-blog-list-user .view-content .ding-blog-list-image,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .ding-blog-image,
  .pane-ding-blog-related-author-blogs .ding_nodelist-items .ding-blog-list-image,
  .pane-ding-blog-related-author-blogs .view-content .ding-blog-image,
  .pane-ding-blog-related-author-blogs .view-content .ding-blog-list-image,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .ding-blog-image,
  .pane-ding-blog-related-category-blogs .ding_nodelist-items .ding-blog-list-image,
  .pane-ding-blog-related-category-blogs .view-content .ding-blog-image,
  .pane-ding-blog-related-category-blogs .view-content .ding-blog-list-image,
  .view-ding-blog .ding_nodelist-items .ding-blog-image,
  .view-ding-blog .ding_nodelist-items .ding-blog-list-image,
  .view-ding-blog .view-content .ding-blog-image,
  .view-ding-blog .view-content .ding-blog-list-image {
    display: block;
    position: relative;
    background-color: #e5e5e5;
    padding-top: 56.25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
