.page-node-add-blog {
  .content-wrapper {
   .form-item {
      max-width: 100%; 
    }
  }

  .form-item-field-ding-blog-list-image-und-0 label,
  #edit-submit,
  #edit-preview {
    display: inline-block;
    margin-right: 30px;
  }

  .filter-guidelines,
  .filter-help {
    display: none;
  }

  div.form-media {
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
  }

  fieldset .fieldset-wrapper {
    width: 100%;
  }

  .field-type-taxonomy-term-reference {
    width: 25%;
  }
}

.ding2-site-template {
  .ding2-site-template {
    .view.grid-medium.view-display-id-user_blog_list_categories {
      h3 {
        float: left;
        width: 100%;
      }
      .views-row:nth-child(3n+1) {
        clear: none;
        margin-left: 2.4911%;
        margin-right: 0;
      }
    }
  }
}
