@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";
@import "../../../themes/ddbasic/sass/contrib/neat/neat";

article.node-blog {
  margin-top: 20px;
}

.page-node-add-blog {
  .content-wrapper {
    .form-item {
      max-width: 100%;
    }
  }

  .form-item-field-ding-blog-list-image-und-0 label,
  #edit-submit,
  #edit-preview {
    display: inline-block;
    margin-right: 30px;
  }

  .filter-guidelines,
  .filter-help {
    display: none;
  }

  div.form-media {
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
  }

  fieldset .fieldset-wrapper {
    width: 100%;
  }

  .field-type-taxonomy-term-reference {
    width: 25%;
  }
}

.view.grid-medium.view-display-id-user_blog_list_categories {
  h3 {
    float: left;
    width: 100%;
  }

  .views-row:nth-child(3n+1) {
    clear: none;
    margin-left: 2.4911%;
    margin-right: 0;
  }
}

.field-name-field-ding-news-blogs-headline,
.field-name-field-ding-event-blogs-headline {
  clear: left;
}

.field-name-field-ding-news-blogs,
.field-name-field-ding-event-blogs {
  float: left;
}

.node-blog {
  @include linear-gradient(to top, $white 30px, $grey-light 100%);
  margin: 40px 0 30px;
  h1 {
    @include font('display');
    margin-bottom: 0;
    color: $charcoal;
  }
  .meta {
    padding: 10px 0;
    border-top: 1px solid $grey-medium;
    border-bottom: 1px solid $grey-medium;
    margin: 30px 0;

    // Mobile
    @include media($mobile) {
      margin: 15px 0 30px;
    }
    .author {
      margin-bottom: 5px;
    }
  }
  .ding-blog-inner {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    .ding-blog-left {
      @include span-columns(5);
      min-height: 1px;

      // Tablet
      @include media($tablet) {
        @include span-columns(6);
      }

      // Mobile
      @include media($mobile) {
        @include span-columns(12);
        margin-bottom: 20px;
      }
    }

    .ding-blog-right {
      @include span-columns(5);

      // Tablet
      @include media($tablet) {
        @include span-columns(6);
        margin-right: 0;
      }

      // Mobile
      @include media($mobile) {
        @include span-columns(12);
        margin-right: 0;
      }
    }
  }
  &.node-teaser {
    .summary {
      position: absolute;
      top: 0;
      color: #fff;
      padding: 15px;
      visibility: hidden;
    }
    &.is-hovered {
      .summary {
        visibility: visible;
      }
    }
  }
}

.view-display-id-related_author_blogs {
  .views-row {
    float: left;
  }
}

.footer {
  float: left;
  width: 100%;
}

.pane-ding-blog-related-author-blogs {
  clear: both;

  h2.pane-title a {
    color: $color-text;
  }
}

.field-name-field-ding-blog-materials {
  width: 100%;
  float: left;

  // When placed directly after .inner in node ding news
  .node-blog .ding-blog-inner > & {
    padding-top: 20px;
    > .field-label {
      @include font('display-large');
      color: $color-text;
      margin-bottom: 20px;
      // Mobile
      @include media($mobile) {
        margin-bottom: 10px;
      }
    }
    > .field-items {
      > .field-item {
        width: 100%;
        @include span-columns(3);
        @include omega(4n);
        margin-bottom: getGutter();
        // Tablet
        @include media($tablet) {
          @include omega-reset(4n, 12);
          @include span-columns(4);
          @include omega(3n);
        }
        // Mobile
        @include media($mobile) {
          width: 100%;
          margin-right: 0;
        }

        .ting-object {
          width: calc(25% - 10px);
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  // When placed in group-right in node ding news
  .group-right & {
    @include span-columns(7 of 5);

    // Tablet
    @include media($tablet) {
      width: 100%;
    }
    > .field-items {
      > .field-item {
        width: 100%;
        float: left;
        margin-bottom: 20px;
      }
    }
  }
}

// node_blocks
//==========================================================================
.ding_nodelist-node_blocks,
.panel-pane.pane-ding-blog-ding-blog-list-user,
.pane-ding-blog-related-author-blogs,
.pane-ding-blog-related-category-blogs {
  width: 100%;
  float: left;
  .ding_nodelist-items,
  .view-content {
    display: inline-block;
    width: 100%;

    .item {
      @include span-columns(3.95 of 12);
      margin: 0 10px 40px 10px;
    }

    .item,
    .node {
      position: relative;

      :last-child {
        margin-right: -10px;
      }

      @media only screen and (max-width: 1080px) {
        @include span-columns(5.5 of 12);
      }

      @include media($tablet) {
        @include span-columns(5.5 of 12);
      }

      @include media($mobile) {
        @include span-columns(3 of 3);
        margin: 0;
        float: none;
        padding-bottom: 15px;
      }

      &.node-blog .field-name-field-blog-body p {
        margin-top: 25px;
      }

      .field-name-field-blog-body p {
        @include transition(
            opacity $speed $ease
        );
        width: 100%;
        opacity: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 15px;

        // Mobile
        @include media($mobile) {
          display: none;
        }
      }

      &:hover {
        .ding-blog-image,
        .ding-blog-list-image {
          &::after {
            background-color: $black-overlay;
          }
        }
        .field-name-field-blog-body p {
          opacity: 1;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          padding: 25px 15px;
        }
      }

      .title {
        margin: 10px 0 5px;
        font-size: 120%;
      }

      .category-and-submitted {
        float: left;
        width: 100%;
        color: rgba(38, 38, 38, .54);
      }
    }

    a {
      display: block;
      color: $color-text;
    }

    .ding-blog-image,
    .ding-blog-list-image {
      @include aspect-ratio-background-image(16, 9);
      overflow: hidden;
      background-size: cover;
      &::after {
        @include transition(background-color $speed $ease);
        opacity: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      // Mobile
      @include media($mobile) {
        @include aspect-ratio-background-image(16, 9);
        background-size: cover;
      }
    }
  }
}
