@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

.page-node-add-blog {
  .content-wrapper {
   .form-item {
      max-width: 100%;
    }
  }

  .form-item-field-ding-blog-list-image-und-0 label,
  #edit-submit,
  #edit-preview {
    display: inline-block;
    margin-right: 30px;
  }

  .filter-guidelines,
  .filter-help {
    display: none;
  }

  div.form-media {
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
  }

  fieldset .fieldset-wrapper {
    width: 100%;
  }

  .field-type-taxonomy-term-reference {
    width: 25%;
  }
}

.ding2-site-template {
  .ding2-site-template {
    .view.grid-medium.view-display-id-user_blog_list_categories {
      h3 {
        float: left;
        width: 100%;
      }
      .views-row:nth-child(3n+1) {
        clear: none;
        margin-left: 2.4911%;
        margin-right: 0;
      }
    }
    .field-name-field-ding-news-blogs-headline,
    .field-name-field-ding-event-blogs-headline {
      clear: left;
    }
    .field-name-field-ding-news-blogs,
    .field-name-field-ding-event-blogs {
      float: left;
    }
    .node-blog {
      .inner {
        max-width: 1124px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        .ding-blog-left {
          float: left;
          display: block;
          margin-right: 2.4911%;
          width: 40.21352%;
          min-height: 1px;
        }
        .ding-blog-right {
          float: left;
          display: block;
          margin-right: 2.4911%;
          width: 40.21352%;
        }
        .field-name-field-ding-blog-materials {
          width: 100%;
          float: left;
          padding-top: 20px;
          .field-label {
            font-family: FaktPro-Light,sans-serif;
            font-size: 40px;
            line-height: 44px;
            color: #262627;
            margin-bottom: 20px;
          }
          .field-item {
            float: left;
            display: block;
            margin-right: 2.4911%;
            width: 23.13167%;
            margin-bottom: 2.4911%;
          }
        }
      }
    }
    .view-display-id-related_author_blogs {
      .views-row {
        float: left;
      }
    }
  }
  .footer {
    float: left;
    width: 100%;
  }
}

// node_blocks
//==========================================================================
.ding_nodelist-node_blocks {
  .ding_nodelist-items {
    display: inline-block;
    width: 100%;
    .item {
      position: relative;
      @include span-columns(3.95 of 12);
      margin: 0 10px 40px 10px;
      :last-child {
        margin-right: -10px;
      }

      @media only screen and (max-width: 1080px) {
        @include span-columns(5.5 of 12);
      }

      @include media($tablet) {
        @include span-columns(5.5 of 12);
      }

      @include media($mobile) {
        @include span-columns(3 of 3);
        margin: 0;
        float: none;
        padding-bottom: 15px;
      }

      .field-name-field-blog-body p {
        @include transition(
                        opacity $speed $ease
        );

        width: 100%;
        opacity: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 15px;

        // Mobile
        @include media($mobile) {
          display: none;
        }
      }

      &:hover {
        .ding-blog-image {
          &::after {
            background-color: $black-overlay;
          }
        }
        .field-name-field-blog-body p {
          @include transition(
                          opacity $speed $hover-delay $ease
          );
          opacity: 1;
          color: #ffffff;
          position: absolute;
          top: 0;
          left: 0;
          padding: 25px 15px;
        }
      }

      .title {
        margin: 10px 0 5px;
        font-size: 120%;
      }

      .category-and-submitted {
        float: left;
        width: 100%;
        color: rgba(38,38,38,.54);
      }
    }

    a {
      display: block;
      color: $color-text;
    }

    .ding-blog-image {
      @include aspect-ratio-background-image(16, 9);
      overflow: hidden;
      background-size: cover;
      &::after {
        @include transition(background-color $speed $ease);
        opacity: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      // Mobile
      @include media($mobile) {
        @include aspect-ratio-background-image(16, 9);
        background-size: cover;
      }
    }
  }
}
